.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-full);
  background-color: var(--color-secondary-dark);
  border: 2px solid var(--color-helper);
  box-shadow: var(--shadow-sm);
  transition: var(--transition-normal);
}

/* todo: change it later */
/* .searchWrapper:hover,
.searchWrapper:focus-within {
  box-shadow: var(--shadow-blue-glow);
  border-color: var(--color-white);
} */

.searchInput {
  background: transparent;
  border: none;
  outline: none;
  color: var(--color-white);
}

.searchInput::placeholder {
  opacity: 0.9;
  transition: opacity 0.2s ease;
}
.searchInput:focus::placeholder {
  opacity: 0.2;
}
.drawerSearchInput {
  position: absolute;
  top: calc(100% + var(--space-md));
  right: var(--space-xs);
  background-color: var(--color-surface);
  padding: var(--space-md);
  border-radius: var(--radius-md);
  border: 2px solid transparent;
  box-shadow: var(--shadow-sm);
  z-index: 100;
}

/* .drawerSearchInput:focus,
.drawerSearchInput:hover {
  box-shadow: var(--shadow-blue-glow);
  border-color: var(--color-white);
} */

.searchButton {
  background-color: var(--color-bg);
  border-radius: var(--radius-full);
  border: 2px solid transparent;
  box-shadow: var(--shadow-sm);
  transition: var(--transition-normal);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

/* .searchButton:hover {
  background-color: var(--color-primary);
  border-color: var(--color-helper);
  box-shadow: var(--shadow-blue-glow);
} */

@media screen and (max-width: 1200px) {
  .minimize {
    display: none;
  }
  .drawerSearchInput {
    display: flex;
  }

  .searchWrapperMinimize {
    border: none;
    box-shadow: none;
    padding: 0;
  }
  .searchButton {
    padding: var(--space-sm);
    pointer-events: all;
  }
  /* .searchWrapperMinimize:hover,
  .searchWrapperMinimize:focus-within {
    box-shadow: none;
    border: none;
  } */
}

@media screen and (max-width: 425px) {
  .searchWrapper svg {
    display: none;
  }
  .searchInput {
    width: 100%;
  }
}
