.navLinks {
  display: flex;
  padding: 0;
  justify-content: space-between;
  gap: var(--space-md);
  list-style: none;
  flex-direction: row; /* default desktop */
}

/* Use attribute selector for dynamic flex-direction */
.navLinks[data-mobile='true'] {
  flex-direction: column;
  gap: var(--space-lg);
}

.navbar_item {
  text-decoration: none;
  font-size: var(--font-size-base);
  font-weight: 700;
  color: var(--color-white);
  transition: var(--transition-normal);
}

.active {
  color: var(--color-white);
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-primary);
  transition: var(--transition-normal);
}

.navbar_item:hover {
  color: var(--color-primary);
  transition: var(--transition-normal);
}
