/* creditsSection.module.css */
.section {
  padding: var(--space-md) var(--space-xxl);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-md);
}

.heading {
  font-size: var(--font-size-xl);
  font-weight: 900;
}

.sliderRow {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  width: 100%;
  overflow: hidden;
}
.mobileControls {
  display: none;
  justify-content: center;
  gap: var(--space-md);
  margin-top: var(--space-md);
}
@media (max-width: 768px) {
  .mobileControls {
    display: flex;
  }
}
