.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-xxl);
  position: relative;
}

.navbar_Logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.navbar_title {
  font-weight: 900;
  font-size: var(--font-size-xxl);
  letter-spacing: 0.1rem;
  line-height: 1.1;
}

.navbar_Actions {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.navbar_Burger {
  display: flex;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition-normal),
    opacity var(--transition-normal);
}

.navbar_Burger.open .iconWrapper {
  transform: rotate(90deg);
  opacity: 0.8;
}

.navbar_MobileMenu {
  position: absolute;
  top: calc(100% + var(--space-xs));
  right: var(--space-xxl);
  left: var(--space-xxl);
  background-color: var(--color-surface);
  padding: var(--space-md);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-md);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
