.container {
  padding: var(--space-xxl);
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}
.tabsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
