/* Layout */
.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
  padding: var(--space-md) var(--space-xxl);
}
.section {
  display: flex;
  justify-content: center;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

@media (min-width: 1024px) {
  .layout {
    flex-direction: row;
  }
}

/* Left: Poster & Actions */
.posterColumn {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.posterCard {
  position: relative;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 2 / 3;
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-lg);
}

.actionsGroup {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: var(--space-md);
}

/* Right: Details */
.detailsColumn {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  user-select: none;
}

/* Movie Info */
.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.title {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-size-xl);
  font-weight: 700;
  color: var(--color-white);
}

.year {
  font-weight: 400;
  color: var(--color-helper);
}

.meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-size-sm);
  color: var(--color-helper);
}

.metaDot {
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--color-helper);
  border-radius: var(--radius-full);
}

/* Ratings Section */
.ratings {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
  color: var(--color-white);
}

.ratingItem {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.ratingInfo {
  display: flex;
  flex-direction: column;
}

.ratingScore {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--color-white);
}

.ratingOutOf,
.ratingLabel {
  font-size: var(--font-size-sm);
  color: var(--color-helper);
}

.ratingIcon {
  font-size: var(--font-size-lg);
}

/* Genres */
.genres {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.genreTag {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-full);
  background-color: rgba(31, 142, 241, 0.1); /* 10% primary */
  color: var(--color-primary);
  font-size: var(--font-size-sm);
}

/* Description */
.description {
  color: var(--color-muted);
  font-size: var(--font-size-base);
  line-height: 1.6;
  max-width: 1000px;
}

/* break line */
.heroDivider {
  height: 2px;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-primary),
    transparent
  );
}
