.contentList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: var(--space-md);
  justify-items: center;
}

.contentList > * {
  max-width: 275px;
  min-width: 275px;
}

.contentDetails {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}
.date {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  gap: var(--space-sm);
}
.genres {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm);
}
