.button {
  padding: var(--space-sm);
  box-sizing: border-box;
  transition: var(--transition-normal);
  box-shadow: var(--shadow-sm);
}
.button:hover,
.button:focus {
  box-shadow: var(--shadow-blue-glow);
  transition: var(--transition-normal);
}
.disabled {
  background-color: var(--color-bg);
  border: 2px solid var(--color-bg);
  box-shadow: none;
  pointer-events: none;
  padding: 0;
}
.primary {
  background-color: var(--color-primary);
  border-radius: var(--radius-full);
  border: 2px solid transparent;
}
.primary:hover,
.primary:focus {
  background-color: var(--color-helper);
  border-color: var(--color-primary);
}
.secondary {
  background-color: var(--color-bg);
  border-radius: var(--radius-full);
  border: 2px solid transparent;
}
.secondary:hover,
.secondary:focus {
  background-color: var(--color-primary);
  border-color: var(--color-helper);
}
.hide {
  display: none;
}

.left {
  align-self: flex-start;
}

.center {
  align-self: center;
}

.right {
  align-self: flex-end;
}
